<div>
    <h1>category</h1>
</div>
<h4 *ngIf="items != undefined && items.length == 0"> No existe categorías que desplegar</h4>
<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="rank">
            <mat-header-cell *matHeaderCellDef mat-sort-header> rank </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </mat-header-cell>

            <mat-cell *matCellDef="let item">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit(item)">
                    <mat-icon color="warn">mode_edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

</div>